@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');


body {
    background: #1C8EF9 !important;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    margin: 0px;
}
  
h1,h2,h3,h4,h5,h6,label,span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
}